<div class="no-questions">
    <img src="/images/no-questions.svg">
    <p class="subtitle">Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o <br>código dessa sala para outras pessoas!</p>
</div>