* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;
    
    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-medium: #D3D9E2;
    --grey-light: #E5EAF1;
    --grey-dark-translucid: #eaecf2;

    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: var(--background)
}

body, button, input, textarea {
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* INPUT AND BUTTONS ==================================== */

button, input, .button {
    border-radius: .8rem;
    height: 5rem;
}

button, .button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: var(--blue);
    color: var(--white);

    cursor: pointer;
}

button:hover, .button:hover {
    filter: brightness(1.2);
    transition-duration: .2s;
}

button > img, .button > img {
    margin-right: 1rem;
    width: 2rem;
}

button.outlined, .button.outlined {
    background: var(--white);
    color: var(--blue);

    border: .2rem solid var(--blue);
}

button.red, .button.red {
    background: var(--red);
    color: var(--white);
}

button.grey, .button.grey {
    background: var(--grey-light);
    color: var(--grey-dark);
}

/* HEADER ============================================== */

.content header {
    width: 80%;
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;
}
