/* HEADER ================================== */

.content {
    max-width: min(112rem, 80%);
}

#room header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons {
    display: flex;
}

#room header .buttons .button:nth-child(1) {
    margin-right: .8rem;
    padding: 1.3rem .8rem 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img {
    margin-left: 1.16rem;
    width: 2rem;
    height: 2rem;
}

#room header .buttons .button:nth-child(2) {
    padding: 1.3rem 3.2rem;
}

#room header .buttons .button:nth-child(2) img {
    width: 2rem;
    height: 2rem;
}

/* Question form ===================================== */
#question-form h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    color: var(--black);
    font-weight: 700;
    line-height: 4.2rem;

    margin-bottom: 2.4rem;
}

#question-form form {
    border: .2rem solid var(--grey-blue);
    border-radius: 0 .8rem .8rem .8rem;
    padding: 1.6rem;

    margin-bottom: 1.6rem;
}

#question-form form textarea {
    width: 100%;
    
    resize: none;
    background: none;
    outline: none;
}

#question-form form textarea::placeholder {
    color: var(--grey-blue);
} 

#question-form form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#question-form form footer > div {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--icons-details);

    display: flex;
    align-items: center;
    line-height: 0;
}

#question-form form footer > div img {
    margin-right: .9rem;
}

#question-form form footer button {
    height: auto;
    padding: .8rem 2.4rem;
    line-height: 2.4rem;
}